<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Directori base dels logs -->
    <property name="LOG_PATH" value="${logging.path:-/opt/tomcat/logs/sakila}"/>

    <!-- Crea el directori si no existeix -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <!-- Appender amb Rolling -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/Sakila.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/Sakila-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	        <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
	    </encoder>
	</appender>

    <!-- Nivell per al teu package -->
    <logger name="sakilaApp" level="DEBUG"/>

    <!-- Root logger -->
    <root level="INFO">
    	<appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING"/>
    </root>
</configuration>